/*Schrijf hier jouw CSS*/
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
nav{
    width: 20%;
}
div{
    width: 80%;
    display: flex;
    flex-direction: column;
}
header,footer{
    height: 20%;
}
main{
    height: 60%;
    display: flex;
    flex-direction: row;
}
article{
    width: 80%;
    overflow: auto;
}
aside{
    width: 20%;
}
