/*Schrijf hier jouw css*/
*{
    box-sizing: border-box;
    background-color: #F2F3D9;
    color: #020425;
}
/*
Colors
color: #C16E70
color: #F2F3D9
#020425
 */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}
h1,h3{
    text-align: center;
}
article{
    display: flex;
    justify-content: space-around;
}
.paragraph{
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #C16E70;
}
p{
    background-color: #C16E70;
    text-align: center;
}
